* {
  margin: 0px;
  padding: 0px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.no {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.no h1 {
  display: block;
  width: 160px;
  height: 50px;
  top: 40%;
  position: absolute;
  left: 36%;
  line-height: 50px;
  background: #ff4655;
  text-align: center;
  color: #ececec;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
}
