* {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
  text-decoration: none;
}

.full-screen {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-screen video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.content a {
  display: block;
  margin: 50px auto;
  width: 100px;
  height: 50px;
  line-height: 50px;
  background-color: #ff4655;
  text-align: center;
  color: #ececec;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.2s linear;
}
.content a:hover {
  background-color: #0f1923;
}
